<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}" th:with="currentPage='users'">
<head>
<title>Users</title>
<th:block layout:fragment="customcss">
	<!-- DataTables -->
	<link rel="stylesheet"
		>
	<!-- Select2 -->
  <link rel="stylesheet" href="assets/bower_components/" th:href="@{/assets/vendor/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/select2/css/select2-bootstrap.min.css}">
</th:block>

</head>
<body>
	<div layout:fragment="content">
		<!-- User List -->
		<div class="col-lg-12 mb-5">
			<div class="card">
				<div class="card-header">
					<i class="fas fa-users"></i>&nbsp;&nbsp;<span
						class="text-uppercase mb-0">Users</span>
				</div>
				<div class="card-body">
					<form autocomplete="off" action="#" th:action="@{/register}"
				th:object="${user}" method="post" class="form-horizontal"
				role="form">
				<div class="form-group mb-4">
					<input type="text" th:field="*{username}" placeholder="Username"
							class="form-control" />
					<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
							class="validation-message text-sm text-danger mt-2"></label> 
				</div>
				
				<div class="form-group mb-4">
					<input type="text" th:field="*{name}" placeholder="Name"
							class="form-control" />
					<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="validation-message text-sm text-danger mt-2"></label> 
				</div>
				
				<div class="form-group mb-4">
					<select th:field="*{role}" class="form-control select2">
					    <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.name}">
					    </option>
					</select>
					<label th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
							class="validation-message text-sm text-danger mt-2"></label> 
				</div>
              	
				<button type="submit" class="btn btn-danger shadow px-5">Register</button>
				<a href="register.html" th:href="@{/login}" role="button" class="btn btn-warning">Login Page</a>
			</form>
				</div>
			</div>
		</div>
		<!-- End User List -->
	</div>
	
	<th:block layout:fragment="scripts">
		<!-- Select2 -->
		<script th:src="@{/assets/vendor/select2/js/select2.min.js}"></script>
		<script>
		  $(document).ready(function() {
			  $('.select2').select2({
		          theme: "bootstrap",
		          allowClear: true,
		          placeholder: "Choose Category"
		      });
		  });
		</script>
	</th:block>
</body>
</html>