<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	Hello,
	<br /> Logged user:
	<span sec:authentication="name">Bob</span> Roles:
	<span sec:authentication="principal.authorities">[ROLE_USER,
		ROLE_ADMIN]</span>

	<p>
		Manager Menu : <a href="manager.html" th:href="@{/manager}">Manager</a>
	</p>
	<p>
		Admin Menu : <a href="admin.html" th:href="@{/admin}">Admin</a>
	</p>
	<p>
		<form th:action="@{/logout}" method="POST">
			<button type="submit">Logout</button>
		</form>
	</p>
</body>
</html>